<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>
  <link rel="stylesheet" href="style.css" />
  <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="script.js" defer></script>
  <title>Document</title>
  <style>
    #video-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-auto-rows: 300px;
    }
    
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-color: rgb(27, 27, 36);
    }
  </style>
</head>
<body>

  <div id="pid">
    <div class="webflow-style-input">
      <input
        placeholder="Enter your name"
        type="text" required
        id="nickname"
      />
      
    </div>
    <div class="rainbow"></div>
  </div>




  <div id="showWhenName">
    <div class="movie_chat">
      <div class="meet-area">
        <!-- Remote Video Element-->
        <video id="remote-video"></video>
            
        </div>

      <div class="main__right">
        <div class="main__header">
          <h6>MeAndTheHomies</h6>
          <hr/>
        </div>
        <div class="main__chat__window" id="main__chat__window">
          <ul class="messages" id="all_messages"></ul>
        </div>
        <div class="main__message_container">
          <input
            type="text"
            id="chat_message"
            placeholder="Type message here.."
          />
        </div>
      </div>
    </div> 

    <div class="emojis">
      <button onclick="sendEmoji('monkas')"><img src="https://www.streamscheme.com/wp-content/uploads/2020/04/Monkas.png.webp" /></button>
      <button onclick="sendEmoji('pepelaugh')"><img src="https://www.streamscheme.com/wp-content/uploads/2020/08/pepelaugh-emote.png" /></button>
      <button onclick="sendEmoji('monkahmm')"><img src="https://www.streamscheme.com/wp-content/uploads/2020/09/monkahmm-emote.png" /></button>
      <button onclick="sendEmoji('poggers')"><img src="https://www.streamscheme.com/wp-content/uploads/2020/04/poggers.png.webp" /></button>
      <button onclick="sendEmoji('feelsbadman')"><img src="https://www.streamscheme.com/wp-content/uploads/2020/04/feelsbadman.png.webp" /></button>
      <button onclick="sendEmoji('pepehands')"><img src="https://www.streamscheme.com/wp-content/uploads/2020/04/pepehands.png.webp" /></button>
      <button onclick="sendEmoji('comfy')"><img src="https://i.ibb.co/2hsHSD9/comfy.png" /></button>
      <button onclick="sendEmoji('cutescared')"><img src="https://i.ibb.co/Sv8V0PP/cutescared.png" /></button>
      <button onclick="sendEmoji('popcorn')"><img src="https://i.ibb.co/XCm9nnM/popcorn.png" /></button>
      <button onclick="sendEmoji('lovestruck')"><img src="https://i.ibb.co/PQWVMcC/lovestruck.png" /></button>
      <button onclick="sendEmoji('scared')"><img src="https://i.ibb.co/HB3bGMV/scared.png" /></button>
      <button onclick="sendEmoji('angry')"><img src="https://i.ibb.co/Fh64PVZ/angry.png" /></button>
      <button onclick="sendEmoji('vomit')"><img src="https://i.ibb.co/jgr3PnB/vomit.png" /></button>
      <button onclick="sendEmoji('heart')"><img src="https://www.streamscheme.com/wp-content/uploads/2020/04/twitch-heart.png.webp" /></button>
    </div>

    <div class="bottom_line_left" >
      <div>
        <button class="button2" onclick="startScreenShare()">Screen Share</button>
      </div> 
        <div class="active-grid" id="active-grid"></div>
        <!--<div id="video-grid"></div>-->
        
    </div>

    </div> 
</body>
</html>